@import "tailwindcss";

@font-face {
  font-family: 'UberMove';
  src: url('https://tb-static.uber.com/prod/uber-static/UberMove-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMove';
  src: url('https://tb-static.uber.com/prod/uber-static/UberMove-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UberMove';
  src: url('https://tb-static.uber.com/prod/uber-static/UberMove-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'UberMove', system-ui, sans-serif;
}
